@font-face {
    font-family: "Sora";
    src: url("../assets/fonts/Sora/static/Sora-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Sora";
    src: url("../assets/fonts/Sora/static/Sora-Bold.ttf") format("truetype");
    font-weight: 700;
}